/doc/programmers_guide
/scripts/clean-mcl
/scripts/export-to-html-mcl
/scripts/mcl_dirs.sh
/bin/
/scripts/make-mcl
/scripts/make-mcl-image.lisp
/scripts/install-quicklisp
/scripts/install-quicklisp.lisp
/scripts/setup-sbcl
/scripts/fetch-quicklisp-libs
/scripts/fetch-quicklisp-libs.lisp
/scripts/test-mcl
/doc/index.html
/doc/installing_mcl.html
/doc/manual_mcl.html
/doc/setup_developer_guide.html
/doc/setup_environment_developers.html
/lib/maxima-5.41.0.tar.gz
/lib/maxima-5.41.0/
/scripts/install-maxima
/src/system/commandline/
/src/system/library/
/src/system/main.lisp
/src/system/mcl.asd
/src/system/micro-passes/
/src/system/packages.lisp
/src/system/passes/
/src/system/tests/
